body{
    width: 661px;
    height: 763px;
    display: flexbox;
    background: #C4C4C4;
}

.search-container{
    width: 500px;
    height: 350px;
}

#search {
    width: 500px;
    height: 61px;
    padding: 0;
    font-size: 50px;
    
}

#autocomplete{
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

#autocomplete li {
    border: 2px solid;
    height: 44px;
    background: #E3E3E3;
    font-size: 30px;
}

#autocomplete li:hover{
    background-color: #65CDF9;
}

#selected-repositories{
    width: 503px;
    background-color: #E27BEB;
    padding: 0;
}

#selected-repositories li{
    border: 2px solid;
    list-style-type: none;
}



.delete-button {
    font-size: 40px;
    color: red;
    position: relative;
    top: -50px;
    right: 10px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    float: right;
}

.delete-button:hover {
    color: white;
}

